{% extends 'layout.html' %}
{% block main %}
{% for content in content %}
<div class="listBox">
  <hr>
  <div>
    <h1>{{content.title}}</h1>
    <p class="colDefault">
      作者：<span class="colInfo">{{content.user.username}}</span> -
      时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span> -
      阅读：<span class="colInfo">{{content.views}}</span> -
      评论：<span class="colInfo">{{content.comments.length}}</span>
    </p>
    <dfn><p>{{content.description}}</p></dfn>
    <div class="function"><a href="/view?contentid={{content.id}}">阅读全文</a></div>
  </div>
  <hr>
</div>
{% endfor %}
<div class="pages">
  <ul class="pager">
    {% if page<=1 %}
    <span class="no" style="position: absolute;left: 0px; color: #adadad">没有上一页了😪</span>
    {% else %}
    <li class="previous "><a href="{{url}}?category={{category}}&page={{page-1}}"><span>&larr;</span> 上一页</a></li>
    {% endif %}
    {% if page>=pages %}
    <span class="no" style="position: absolute;right: 0px; color: #adadad">没有下一页了😪</span>
    {% else %}
    <li class="next"><a href="{{url}}?category={{category}}&page={{page+1}}">下一页 <span>&rarr;</span></a></li>
    {% endif %}
  </ul>
</div>
{% endblock %}
